/* 22C-1 */
.page {
  background: #519872;
  width: 100%;
  height: 1000px;
  text-align: center;
  
}

.body {
  width: 1000px;
  height: 100%;
  background: #fff;
  /* 25F */
  display: inline-block;
  /* 30C */
  box-shadow: 10px 10px 10px 10px;
  /* 30E */
  text-shadow: 2px 5px #ff0000;
  /* 30D */
  background: linear-gradient(red, yellow);
}